<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>调音台</title>
  <link rel="stylesheet" href="./module/index.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="sound">
    <img src="./img/背景.png" class="bg_img">

    <!-- 抬头样式 -->
    <div class="header">
      <img src="./img/返回按钮.png" class="button" style="margin: 0 12px 0 24px;" @click="return_home">
      <img src="./img/logo.png" style="width: 200px;height: 26px;margin: 0 15px;">
      <div style="width: 2px;height: 22px;margin: 0 15px;background: #035AB0;"></div>
      <span style="font-size: 30px;color: #F5F5F5;margin: 0 35px;">调音台</span>
      <span style="font-size: 14px;color: #F5F5F5;padding-top: 10px;">DM1608</span>
      <!-- 头部背景 -->
      <img src="./img/抬头背景.png" class="bg_img">
    </div>

    <div class="topSwitchBar">
      <div class="device_status">
        <img style="width: 15px;height: 12px;margin-right: 8px;"
          :src="detail.is_online==0?'./img/警告标识.png':'./img/设备在线图标.png'">
        <span style="font-size: 12px;color: rgb(171, 203, 255);">{{detail.is_online==0?'设备不在线':'设备在线'}}</span>
      </div>
    </div>

    <div class="body">
      <!-- 输入通道 -->
      <div class="control_box" style="max-width: 720px;">
        <img src="./img/装饰点.png" style="width: 20px;height: 20px;">

        <div class="slider_box" @mousewheel="scroll_x($event)">
          <div class="single_slider" v-for="input in detail.channel_in">
            <span class="slider_name align_center">{{input.channel_name}}</span>
            <div class="slider_body">
              <!-- 反相 -->
              <div class="slider_button align_center" @click="reverse_button(input)"
                :style="{backgroundImage:input.reverse_phase==0?'url(./img/静音通常.png)':'url(./img/静音.png)',color:input.reverse_phase==0?'#ABCBFF':'#FFABCF'}">
                反相
              </div>
              <!-- 静音 -->
              <div class="slider_button align_center" @click="mute_button(input)"
                :style="{backgroundImage:input.mute==0?'url(./img/静音通常.png)':'url(./img/静音.png)',color:input.mute==0?'#ABCBFF':'#FFABCF'}">
                静音
              </div>
              <!-- 输入框 -->
              <div class="slider_num">
                <input v-model.number="input.temp" maxlength="5" class="input_box" @keydown.enter="gain_control(input)">
                <span style="font-size: 12px;color: #ABCBFF;align-self: center;">dB</span>
              </div>
              <!-- 滑块 -->
              <div class="slider">
                <span style="font-size: 12px;color: #2e71df;">{{static_params.input_max}}</span>

                <div style="width: 100%;height: 100%;position: relative;z-index: 10;cursor: pointer;"
                  @mousedown="slider_turn_to($event,input)">
                  <img src="./img/滑块小.png" class="bg_img">
                  <div class="slider_bar"></div>
                  <div :style="change_cover_height(input.gain)" class="slider_cover"></div>
                  <div :style="change_slider_bottom(input.gain)" class="slider_thumb"
                    @mousedown.stop="slider_move($event,input)"></div>
                </div>

                <span style="font-size: 12px;color: #2e71df;">{{static_params.input_min}}</span>
              </div>
            </div>
          </div>
        </div>

        <img src="./img/装饰点.png" style="width: 20px;height: 20px;">
      </div>
      <!-- 输出通道 -->
      <div class="control_box" style="max-width: 400px;">
        <img src="./img/装饰点.png" style="width: 20px;height: 20px;">

        <div class="slider_box" @mousewheel="scroll_x($event)">
          <div class="single_slider" v-for="output in detail.channel_out">
            <span class="slider_name align_center">{{output.channel_name}}</span>
            <div class="slider_body">
              <!-- 反相 -->
              <div class="slider_button align_center" @click="reverse_button(output)"
                :style="{backgroundImage:output.reverse_phase==0?'url(./img/静音通常.png)':'url(./img/静音.png)',color:output.reverse_phase==0?'#ABCBFF':'#FFABCF'}">
                反相
              </div>
              <!-- 静音 -->
              <div class="slider_button align_center" @click="mute_button(output)"
                :style="{backgroundImage:output.mute==0?'url(./img/静音通常.png)':'url(./img/静音.png)',color:output.mute==0?'#ABCBFF':'#FFABCF'}">
                静音
              </div>
              <!-- 输入框 -->
              <div class="slider_num">
                <input v-model.number="output.temp" maxlength="5" class="input_box"
                  @keydown.enter="gain_control(output)">
                <span style="font-size: 12px;color: #ABCBFF;align-self: center;">dB</span>
              </div>
              <!-- 滑块 -->
              <div class="slider">
                <span style="font-size: 12px;color: #2e71df;">{{static_params.input_max}}</span>

                <div style="width: 100%;height: 100%;position: relative;z-index: 10;cursor: pointer;"
                  @mousedown="slider_turn_to($event,output)">
                  <img src="./img/滑块小.png" class="bg_img">
                  <div class="slider_bar"></div>
                  <div :style="change_cover_height(output.gain)" class="slider_cover"></div>
                  <div :style="change_slider_bottom(output.gain)" class="slider_thumb"
                    @mousedown.stop="slider_move($event,output)"></div>
                </div>

                <span style="font-size: 12px;color: #2e71df;">{{static_params.input_min}}</span>
              </div>
            </div>
          </div>
        </div>

        <img src="./img/装饰点.png" style="width: 20px;height: 20px;">
      </div>
      <!-- 公共通道 -->
      <div class="control_box" style="max-width: 250px;">
        <img src="./img/装饰点.png" style="width: 20px;height: 20px;">

        <div class="slider_box" @mousewheel="scroll_x($event)">
          <div class="single_slider" v-for="public in detail.channel_public">
            <span class="slider_name align_center">{{public.channel_name}}</span>
            <div class="slider_body" style="justify-content: end;">
              <!-- 静音 -->
              <div class="slider_button align_center" @click="mute_button(public)"
                :style="{backgroundImage:public.mute==0?'url(./img/静音通常.png)':'url(./img/静音.png)',color:public.mute==0?'#ABCBFF':'#FFABCF',margin:'10px 0'}">
                静音
              </div>
              <!-- 输入框 -->
              <div class="slider_num" style="margin: 10px 0;">
                <input v-model.number="public.temp" maxlength="5" class="input_box"
                  @keydown.enter="gain_control(public)">
                <span style="font-size: 12px;color: #ABCBFF;align-self: center;">dB</span>
              </div>
              <!-- 滑块 -->
              <div class="slider">
                <span style="font-size: 12px;color: #2e71df;">{{static_params.input_max}}</span>

                <div style="width: 100%;height: 100%;position: relative;z-index: 10;cursor: pointer;"
                  @mousedown="slider_turn_to($event,public)" draggable="false">
                  <img src="./img/滑块小.png" class="bg_img" draggable="false">
                  <div class="slider_bar"></div>
                  <div :style="change_cover_height(public.gain)" class="slider_cover"></div>
                  <div :style="change_slider_bottom(public.gain)" class="slider_thumb"
                    @mousedown.stop="slider_move($event,public)"></div>
                </div>

                <span style="font-size: 12px;color: #2e71df;">{{static_params.input_min}}</span>
              </div>
            </div>
          </div>
        </div>

        <img src="./img/装饰点.png" style="width: 20px;height: 20px;">
      </div>
    </div>
  </div>

  <script src="./module/jquery-3.6.0.js"></script>
  <script src="./module/vue.js"></script>
  <script src="./module/element-ui.js"></script>
  <script src="./module/axios.min.js"></script>
  <script src="./index.js"></script>
</body>

</html>