<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登录</title>
  <link rel="stylesheet" href="./module/index.css">
</head>

<body>
  <div id="login">
    <input type="text" v-model="name">
    <input type="text" v-model="password">
    <button @click="fun1">登录</button>
  </div>

  <script src="./module/element-ui.js"></script>
  <script src="./module/vue.js"></script>
  <script src="./module/axios.min.js"></script>
  <script>
    new Vue({
      el: '#login',
      data () {
        return {
          name: '',
          password: ''
        }
      },
      methods: {
        fun1 () {
          let _this = this
          axios({
            method: 'post',
            url: 'http://182.150.116.22:18009/api/user/login',
            data: {
              client: 'PC',
              user: '',
              version: '1.0.1',
              data: {
                userName: this.name,
                password: this.password,
              },
              key: '74935343174538',
            },
          }).then(res => {
            console.log(res)
            let tip = res.data.message
            if (tip == 'success') {
              let loginToken = res.data.data.token
              // window.location.href = `./sound.html?logintoken=${loginToken}`
              window.open(`./sound.html?loginToken=${loginToken}`)
              // window.sessionStorage.loginToken = loginToken
            } else {
              this.$message.error(tip)
            }
          })
        }
      },
    })
  </script>
</body>

</html>