* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
[v-cloak] {
	display: none !important;
}
/* 全局图片禁止拖拽 */
img {
	-webkit-user-drag: none;
}
/* flex布局 */
.layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
#index {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 7.4% auto;
	position: absolute;
	align-items: end;
	overflow: auto;
	min-width: 1000px;
	min-height: 500px;
}
/* 页面抬头 */
.header {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
}
/* 遮罩 */
#shadow {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 990;
	background-color: #000;
	opacity: 0.6;
}
.shadow {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 990;
	background-color: transparent;
}
#loading {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
	background-color: rgba(4, 18, 65, 1);
}
/* 背景图 */
#bgimg {
	position: absolute;
	z-index: -2;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* 滚动条通用样式 */
::-webkit-scrollbar {
	width: 6px;
	height: 5px;
	background: rgba(9, 37, 92, 0.78);
	border-radius: 3px;
}
::-webkit-scrollbar-thumb {
	height: 150px;
	width: 150px;
	background: #0e52d4;
	border-radius: 3px;
}
/* 时钟 */
.calender {
	font-size: 16px;
	font-weight: bold;
	color: #4f81ff;
	margin-right: 1.35vw;
	white-space: nowrap;
}
.weekDay {
	font-size: 16px;
	color: #4f81ff;
	margin-right: 2.39vw;
	white-space: nowrap;
}
.time {
	font-size: 2.4vh;
	color: #e7f5ff;
	white-space: nowrap;
	text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue;
}
/* 退出按钮 */
.userButton {
	width: 3%;
	height: 56.75%;
	cursor: pointer;
	object-fit: contain;
	position: absolute;
	right: 10px;
}
.userButton:active {
	transform: scale(0.9);
	transition: all 0.2s;
}
/* 装饰线 */
.decLine {
	background: linear-gradient(#09143c, #273cbd);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 18px;
	z-index: -1;
	opacity: 0.5;
}
/* 主要内容 */
#container {
	position: relative;
	width: 100%;
	height: 98%;
	display: flex;
	justify-content: space-around;
	overflow: auto;
	align-items: start;
}
/* 左边栏 */
.left {
	position: relative;
	width: 6%;
	min-width: 76px;
	/* height: 74.19%; */
	border: 1px solid #3173f3;
	background: rgba(9, 25, 86, 0.48);
	box-shadow: 0 0 65px 0 rgba(4, 15, 51, 0.8);
	user-select: none;
	display: grid;
	grid-auto-rows: 15vh;
	margin: 0 5px;
}
/* 导航栏 */
.nav {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}
.nav:last-child .navBar {
	height: 0;
}
.nav:hover {
	cursor: pointer;
	transform: scale(1.1);
	transition: all 0.2s;
}
/* 导航栏图标 */
.navIcon {
	width: 53.84%;
	height: 42.05%;
	object-fit: contain;
}
#message_center_badge .el-badge__content.is-fixed {
	top: 6px;
	right: 16px;
}
#message_center_badge .el-badge__content {
	padding: 0 2px;
}
/* 导航栏文字 */
.navTitle {
	font-size: 1.66vh;
	color: #ffffff;
}
/* 导航栏下方装饰条 */
.navBar {
	width: 100%;
	height: 2px;
	background: #0a2a67;
	position: absolute;
	bottom: 0;
}
/* 右侧显示内容 */
.right-place-scene {
	height: 97%;
	position: relative;
	display: grid;
	grid-template-rows: 5.33% auto;
	margin-right: 5px;
	flex-grow: 1;
}
.tag {
	position: relative;
	width: 100%;
	height: 4.81vh;
	display: grid;
	grid-template-columns: 18.75% 70% auto;
	align-items: center;
	justify-items: center;
}
.editTagName {
	width: 12px;
	height: 12px;
	cursor: pointer;
	z-index: 3;
}
/* 设备显示容器 */
.container {
	width: 100%;
	height: 100%;
	background: rgba(9, 25, 86, 0.4);
	border: 1px solid #3173f3;
	position: relative;
	overflow: auto;
}
.deviceContainer {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 9.27% auto;
	position: relative;
}
/* 设备卡片 */
.cardBag {
	width: 99%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, 290px);
	grid-auto-rows: 342px;
	justify-items: center;
	align-items: center;
}
.deviceCard {
	width: 240px;
	height: 310px;
	position: relative;
	justify-content: center;
	align-content: center;
}
.deviceBg {
	width: 100%;
	height: 100%;
	opacity: 0.55;
	position: absolute;
}
.deviceCard .bg1 {
	width: 82px;
	height: 26px;
	position: absolute;
	right: 14px;
	top: -11px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.bg1 .bgIcon {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -10;
}
.bg1 .cardTitle {
	font-size: 1.11vh;
	color: #84d5fe;
	z-index: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.deviceCard .deviceInfo {
	width: 90%;
	height: 145px;
	position: relative;
	align-content: space-around;
	justify-content: center;
}
.deviceInfo .deviceIcon {
	width: 90px;
	height: 90px;
}
.deviceInfo .deviceName {
	font-size: 1.66vh;
	color: #d5eaf9;
	width: 100%;
	text-align: center;
	word-break: break-all;
}
/* 卡片状态显示及设置 */
.deviceCard .deviceCtrl {
	width: 90%;
	height: 86px;
	position: relative;
	top: 19px;
	display: grid;
	grid-template-columns: 25% 50% 25%;
	justify-items: center;
}
.deviceCtrl .state {
	width: 50px;
	height: 30px;
	margin-bottom: 4px;
	align-self: end;
}
.deviceCtrl .setButton {
	width: 86px;
	height: 86px;
	cursor: pointer;
}
/* 新建场所弹框 */
.newTagBox {
	width: 600px;
	height: 110px;
	background: rgba(6, 19, 57, 0.9);
	border: 2px solid #1645b0;
	display: grid;
	grid-template-columns: 1fr 2.5fr 1fr 0.5fr;
	justify-items: center;
	align-items: center;
	position: absolute;
	top: 12px;
	left: 35px;
	z-index: 991;
}
.newTagBox .placeName {
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #88cdff;
}
.newTagBox .inputTag {
	width: 256px;
	height: 40px;
	justify-self: left;
}
.inputTag .el-input__inner {
	width: 256px;
	height: 40px;
	font-size: 14px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	background: #061546;
	border: 1px solid #1645b0;
	color: white;
	outline: 0;
}
.newTagBox .newTagBoxClose {
	width: 38px;
	height: 38px;
	cursor: pointer;
	justify-self: center;
	align-self: start;
	margin-top: 8px;
}
/* 设备回收 */
.recoveryDevice {
	width: 4.2%;
	height: 59.77%;
	margin-right: 1.54%;
}
.deleteDeviceTips {
	width: 296px;
	height: 152px;
	background: #071c4a;
	border: 1px solid #206cea;
	box-shadow: 0px 0px 16px 0px rgba(4, 15, 51, 0.8);
	border-radius: 10px;
	z-index: 991;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.deleteDeviceTips .tipsUpBar {
	width: 100%;
	height: 34px;
	border-bottom: 1px solid #206cea;
	position: relative;
}
.tipsUpBar .tipsClose {
	width: 35px;
	height: 34px;
	position: absolute;
	right: 8px;
	cursor: pointer;
}
.deleteDeviceTips .tipsDownBar {
	width: 100%;
	height: 118px;
	align-content: space-around;
}
.tipsDownBar .tipsDownBarText {
	width: 100%;
	height: 16px;
	font-size: 16px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #88cdff;
	text-align: center;
}
.tipsDownBar .tipsDownBarButton {
	width: 74px;
	height: 34px;
	cursor: pointer;
}
/* 添加设备按钮 */
.deviceButton {
	width: 12.32%;
	height: 59.77%;
	cursor: pointer;
	object-fit: contain;
	margin-right: 2.52%;
}
/* 设备列表 */
.deviceList {
	width: 340px;
	height: 54.63vh;
	/* min-height: 300px; */
	background: rgba(8, 30, 76);
	border: 1px solid #3397fe;
	box-shadow: 0px 0px 65px 0px rgba(4, 15, 51, 0.8);
	border-radius: 2px;
	position: absolute;
	right: 43px;
	top: 91px;
	overflow-x: hidden;
	overflow-y: auto;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: calc(34px + 3.73%) calc(60px + 3.9%) auto calc(38px + 3.39%);
	align-items: end;
}
/* 搜索框 */
.deviceList .searchSet {
	width: 273px;
	height: 34px;
	justify-content: space-between;
	position: relative;
	left: 38px;
}
.searchSet .deviceSearch {
	width: 214px;
	height: 34px;
}
.deviceSearch .el-input__inner {
	width: 214px;
	height: 34px;
	background: #071330;
	border: 1px solid #325ecb;
	color: white;
	outline: 0;
}
/* 不用设置小图标容器大小，只需要设置小图标宽高和行高居中 */
.deviceSearch .el-input__icon {
	width: 15px;
	height: 15px;
	line-height: 34px;
}
/* 搜索按钮 */
.searchSet .searchButton {
	width: 53px;
	height: 34px;
	object-fit: contain;
	cursor: pointer;
}
/* 设备类型抬头 */
.deviceList .deviceType {
	width: 338px;
	height: 60px;
	font-size: 16px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #9494f9;
	background: rgba(9, 44, 112, 0.38);
	position: relative;
	padding: 18px 76px;
}
.deviceType .icon1 {
	width: 28px;
	height: 28px;
	position: absolute;
	left: 31px;
	top: 16px;
}
.deviceType .icon2 {
	width: 14px;
	height: 8px;
	position: absolute;
	right: 41px;
	top: 26px;
	cursor: pointer;
}
.deviceType .icon3 {
	width: 8px;
	height: 14px;
	position: absolute;
	right: 47px;
	top: 22px;
	cursor: pointer;
}
/* 设备显示框 */
.deviceList .frame {
	width: 338px;
	height: 100%;
	/* min-height: 180px; */
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}
.frame .deviceNum {
	width: 338px;
	height: 60.5px;
	font-size: 16px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #9494f9;
	padding-top: 21.6px;
	padding-left: 76px;
	cursor: pointer;
	position: relative;
}
.deviceNum .state {
	width: 50px;
	height: 30px;
	position: absolute;
	left: 14px;
	top: 20px;
}
.deviceNum .dot {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 24px;
	right: 40px;
}
/* 保存按钮 */
.deviceList .buttonSet {
	/* width: 253px;
    height: 38px; */
	position: relative;
	align-self: center;
}
.buttonSet .saveButton {
	cursor: pointer;
	width: 100px;
	height: 38px;
}
/* 场景详情 */
.sceneContainer {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: auto 14.56%;
}
.sceneContainer .sceneList {
	width: 99%;
	height: 99%;
	padding-top: 25px;
	padding-left: 16px;
	overflow-x: hidden;
	overflow-y: auto;
}
.sceneList .singleScene {
	width: 56.47vw;
	position: relative;
	margin-bottom: 55px;
}
.sceneList .sceneType {
	width: 114px;
	height: 52px;
	margin-bottom: 20px;
}
.sceneList .detailContainer {
	width: 100%;
	justify-content: unset;
}
.sceneList .barContainer {
	width: 100%;
	/* min-width: 496px; */
	height: 70px;
	justify-content: space-between;
	margin-bottom: 12px;
	flex-wrap: nowrap;
}
.sceneList .name {
	width: 47.97vw;
	/* min-width: 400px; */
	height: 70px;
	background: rgba(7, 22, 70, 0.7);
	border: 1px solid #2f3acb;
	display: flex;
}
.sceneList .sceneTypeIcon {
	width: 5.52vw;
	/* min-width: 42px; */
	height: 70px;
	border-right: 1px solid #2f3acb;
}
.sceneList .listIcon {
	width: 42px;
	height: 42px;
}
.sceneList .nameDisplay {
	width: 42.45vw;
	/* min-width: 358px; */
	height: 70px;
	position: relative;
	font-size: 20px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #88cdff;
	line-height: 70px;
	padding-left: 1.87vw;
}
.sceneList .switchIcon {
	width: 44px;
	height: 22px;
	position: absolute;
	right: 1.82vw;
	top: 24px;
}
.sceneList .manualAct {
	width: 80px;
	height: 44px;
	position: absolute;
	right: 1.14vw;
	top: 13px;
	cursor: pointer;
}
.sceneList .sceneEditButton {
	width: 48px;
	height: 48px;
	cursor: pointer;
}
/* 新建场景管理按钮 */
.sceneContainer .sceneButton {
	width: 84.61%;
	height: 5.54%;
	cursor: pointer;
	margin-top: 27px;
}
/* 场景控制面板 */
.addScene {
	width: 54.69vw;
	height: 80vh;
	background: rgba(6, 19, 57, 0.9);
	border: 2px solid #3173f3;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	/* min-width: 1050px; */
	z-index: 991;
	overflow-x: hidden;
	overflow-y: auto;
}
.addScene .addSceneCloseButton {
	width: 38px;
	height: 38px;
	position: absolute;
	top: 14px;
	right: 14px;
	cursor: pointer;
}
/* 场景名称 */
.addScene .sceneName {
	position: relative;
	top: 49px;
	left: 78px;
	width: 650px;
	height: 40px;
	justify-content: space-between;
}
.sceneName .name {
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #88cdff;
	line-height: 40px;
}
.sceneName .input {
	width: 540px;
	height: 40px;
}
.input .el-input__inner {
	width: 540px;
	height: 40px;
	background: #061546;
	border: 1px solid #1645b0;
	color: #88cdff;
	outline: 0;
}
.input .el-input__icon {
	width: 15px;
	height: 15px;
	line-height: 40px;
}
/* 场景操作 */
.addScene .manualAndAuto {
	width: 892px;
	height: 142px;
	position: relative;
	left: 78px;
	top: 90px;
	justify-content: space-between;
}
.manualAndAuto .manualOperate {
	width: 200px;
	height: 142px;
	background: #061546;
	border: 1px solid #1645b0;
	border-radius: 4px;
}
.manualAndAuto .dot {
	width: 22px;
	height: 22px;
	position: relative;
	top: 60px;
	left: 39px;
}
.manualAndAuto .changjingmingcheng {
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #88cdff;
	position: relative;
	top: 32px;
	left: 77px;
}
/* 定时器设置 */
.manualAndAuto .autoOperate {
	width: 645px;
	height: 142px;
	background: #061546;
	border: 1px solid #1645b0;
	border-radius: 4px;
	display: flex;
}
.manualAndAuto .selectBox {
	width: 194px;
	height: 142px;
	border-right: 1px solid #1645b0;
}
.manualAndAuto .autoOperateSet {
	width: 450px;
	height: 142px;
	justify-content: flex-start;
	align-content: space-around;
	position: relative;
	padding-left: 24px;
}
.manualAndAuto .autoStartTime {
	width: 259px;
	height: 40px;
	justify-content: space-between;
	position: relative;
}
.manualAndAuto .zhixingshijianheriqi {
	width: 75px;
	height: 18px;
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #88cdff;
	line-height: 18px;
}
.manualAndAuto .inputTime {
	width: 166px !important;
	height: 40px;
	position: relative;
}
.inputTime .el-input__inner {
	width: 166px;
	height: 40px;
	line-height: 40px;
	background: #061546;
	border: 1px solid #1645b0;
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #4070fa;
	padding: 0px 21px;
	outline: 0;
}
.inputTime .el-input__icon {
	color: #4070fa;
}
.inputTime .el-input__inner::-webkit-input-placeholder {
	color: #4070fa;
}
.inputTime .el-input .el-select__caret {
	color: #4070fa !important;
}
.manualAndAuto .zhixingriqi {
	width: 403px;
	height: 40px;
	justify-content: space-between;
}
.manualAndAuto .selectWeek {
	width: 166px;
	height: 40px;
	background: #061546;
	border: 1px solid #1645b0;
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #4070fa;
	line-height: 40px;
	padding-left: 20px;
	cursor: pointer;
}
.manualAndAuto .selectButton {
	width: 14px;
	height: 9px;
	position: relative;
	left: 43px;
	bottom: 2px;
}
.manualAndAuto .weekButton {
	width: 54px;
	height: 32px;
	background: #122563;
	border-radius: 16px;
	font-size: 14px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #4070fa;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
}
/* 星期选择 */
.manualAndAuto .weekContainer {
	width: 334px;
	height: 92px;
	background: #061546;
	border: 1px solid #0e52d4;
	position: absolute;
	left: 129px;
	top: 131px;
	z-index: 4;
	justify-content: flex-start;
	align-content: space-around;
}
.manualAndAuto .week {
	width: 70px;
	height: 28px;
	background: #0f215b;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	margin: 0px 4px 0px 8px;
}
.autoOperateSet .dot {
	width: 12px;
	height: 12px;
	position: absolute;
	left: 6px;
	top: 8px;
}
.autoOperateSet .kexuanxingqi {
	font-size: 14px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #6ea7d5;
	line-height: 28px;
	position: absolute;
	right: 4px;
}
/* 全选按钮 */
.addScene .addSceneCheckAll {
	width: 73px;
	height: 18px;
	justify-content: space-between;
	margin-bottom: 19px;
}
.addSceneCheckAll .addSceneCheckAllText {
	font-size: 14px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #4070fa;
}
/* 配置信息栏 */
.addScene .configInfo {
	position: relative;
	width: 891px;
	height: 236px;
	align-content: flex-start;
	overflow-x: hidden;
	overflow-y: auto;
}
.configInfo .singleDevice {
	width: 891px;
	height: 62px;
	justify-content: space-between;
	margin-bottom: 10px;
}
.singleDevice .checkbox {
	width: 18px;
	height: 18px;
	cursor: pointer;
}
.singleDevice .info {
	width: 720px;
	height: 62px;
	position: relative;
	background: #061546;
	border: 1px solid #1645b0;
	border-radius: 6px;
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #88cdff;
	line-height: 62px;
	padding-left: 23px;
}
.singleDevice .configButton {
	width: 102px;
	height: 52px;
	cursor: pointer;
}
.sceneDeviceEmpty {
	height: 40px;
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: white;
	line-height: 40px;
	position: absolute;
	top: 120px;
	left: 43%;
}
/* 设置用户组和顺序 */
.setUserGroupAndOrder {
	width: 406px;
	height: 244px;
	background: #061338;
	border: 1px solid;
	border-image: linear-gradient(180deg, #2b2b97, #1663d6) 1 1;
	align-content: space-around;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 993;
}
.setUserGroupAndOrder .userGroupAndOrderText1 {
	line-height: 18px;
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #4070fa;
}
.setUserGroupAndOrder .userGroupAndOrderText2 {
	line-height: 18px;
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #88cdff;
}
.setUserGroupAndOrder .userSetSliderContainer {
	width: 224px;
	height: 44px;
	position: relative;
}
.userSetSliderContainer .userSetSlider {
	appearance: none;
	background-color: transparent;
	width: 178px;
	height: 9px;
}
.userSetSliderContainer .userSetSlider::-webkit-slider-thumb {
	appearance: none;
	width: 24px;
	height: 24px;
	background-image: url('./img/sliderDot.png');
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
}
#userGroupShadow {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 992;
	background-color: #000;
	opacity: 0.6;
}
/* 保存设置 */
.addScene .button {
	width: 337px;
	height: 48px;
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 188px;
	left: 357px;
}
.button .buttonIcon {
	width: 122px;
	height: 48px;
	cursor: pointer;
}
/* 垫高 */
.addScene .raiseBlock {
	width: 100%;
	height: 39px;
	position: relative;
	top: 188px;
}
/* 音响设备弹窗 */
.soundDeviceContainer {
	width: 704px;
	height: 686px;
	background: #071c4a;
	border: 1px solid #206cea;
	box-shadow: 0px 0px 16px 0px rgba(4, 15, 51, 0.8);
	opacity: 0.95;
	border-radius: 10px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	z-index: 991;
}
.soundDeviceContainer .soundDeviceRow {
	width: 597px;
	height: 40px;
	justify-content: space-between;
}
.soundDeviceRow .soundDeviceText {
	width: 75px;
	height: 40px;
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #88cdff;
	line-height: 40px;
}
.soundDeviceRow .soundDeviceNameInput {
	width: 498px;
	height: 40px;
}
.soundDeviceNameInput .el-input__inner {
	outline: 0;
	width: 498px;
	height: 40px;
	background: #061546;
	border: 1px solid #1645b0;
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #4070fa;
	line-height: 40px;
}
.soundDeviceRow .soundDeviceImg {
	width: 102px;
	height: 40px;
	cursor: pointer;
}
.soundDeviceRow .volumeInput {
	width: 180px;
	height: 40px;
}
.volumeInput .el-input__inner {
	outline: 0;
	width: 180px;
	height: 40px;
	background: #061546;
	border: 1px solid #1645b0;
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #4070fa;
	line-height: 40px;
}
.soundDeviceRow .soundDevicefixedValue {
	height: 40px;
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	line-height: 40px;
}
.eduDeviceListTitle {
	width: 597px;
	height: 40px;
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #88cdff;
	line-height: 40px;
}
.eduDeviceCheckAll {
	width: 73px;
	height: 18px;
	justify-content: space-between;
	position: relative;
	margin-bottom: 14px;
}
.eduDeviceCheckAll .eduDeviceCheckAllText {
	font-size: 14px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #4070fa;
}
.eduDeviceContainer {
	align-content: flex-start;
	justify-content: flex-start;
	overflow-x: hidden;
	overflow-y: auto;
	height: 165px;
}
.eduDeviceContainer .eduDeviceSingleContainer {
	width: 80%;
	height: 40px;
	justify-content: flex-start;
	margin-bottom: 10px;
	align-items: center;
}
.eduDeviceSingleContainer .eduDeviceSingleInfo {
	background: #061546;
	border: 1px solid #1645b0;
	border-radius: 6px;
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #88cdff;
	line-height: 40px;
	padding-left: 23px;
	width: 80%;
}
.eduDeviceEmpty {
	width: 597px;
	height: 40px;
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: white;
	line-height: 40px;
	position: absolute;
	top: 120px;
	left: 280px;
}
.soundDeviceRow .soundDeviceButton {
	width: 122px;
	height: 48px;
	cursor: pointer;
}
/* 右边栏 */
.rightBar {
	height: 100%;
	position: relative;
	user-select: none;
	display: grid;
	grid-auto-columns: 150px;
	grid-auto-flow: column;
}
.manage {
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.manage_border {
	background: rgba(32, 44, 92, 0.48);
	border: 1px solid #1b59ca;
	box-shadow: 0px 0px 65px 0px rgba(4, 15, 51, 0.8);
	border-radius: 2px;
}
.manage_no_border {
	background: #1431a0;
	border-radius: 2px;
}
.manage_icon {
	width: 10%;
	height: 27.08%;
	object-fit: cover;
}
.manageDark {
	font-size: 18px;
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
}
.manageLight {
	font-size: 18px;
	color: #ffffff;
	text-align: center;
}
/* 智能温控弹窗 */
.smartTempCtrl {
	width: 296px;
	height: 171px;
	background: #071c4a;
	border: 1px solid #206cea;
	box-shadow: 0px 0px 16px 0px rgba(4, 15, 51, 0.8);
	border-radius: 10px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 993;
}
.smartTempCtrl .temperature {
	width: 50px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #88cdff;
	margin-left: 40px;
	margin-right: 30px;
}
.smartTempCtrl .temperatureInput {
	background: transparent;
	outline: transparent;
	border: none;
	width: 35px;
	height: 20px;
	font-size: 18px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #88cdff;
}
.smartTempCtrl .temperatureCtrlText {
	width: 25px;
	height: 20px;
	font-size: 16px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #4070fa;
	line-height: 20px;
	position: absolute;
	left: 42px;
	top: 8px;
}
/* 告警页面 */
.alertContainer {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 9.27% auto;
}
.alert_button_container {
	width: 100%;
	height: 100%;
	padding-left: 2.53%;
	display: flex;
	align-items: center;
}
.alertButtonLight {
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(25, 17, 185, 0.62), rgba(33, 30, 188, 0.62));
	border: 1px solid #4e72f4;
	border-radius: 4px;
	font-size: 0.94vw;
	color: #d5eaf9;
	display: flex;
	align-items: center;
	justify-content: center;
}
.new_alert_rule {
	width: 14%;
	/* min-width: 126px; */
	height: 45%;
	/* min-height: 46px; */
	cursor: pointer;
	position: relative;
	left: 65.43%;
	object-fit: cover;
}
.alertButtonDark {
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(6, 28, 71, 0.15), rgba(9, 45, 115, 0.15));
	border: 1px solid #2c49b7;
	border-radius: 4px;
	font-size: 0.94vw;
	color: #d5eaf9;
	opacity: 0.5;
	display: flex;
	align-items: center;
	justify-content: center;
}
.out_scroll {
	width: 99%;
	height: 98%;
	padding-left: 2.53%;
	overflow-y: auto;
	user-select: none;
}
.alert_log {
	width: 99%;
	display: grid;
	grid-auto-rows: 68px;
	background: rgba(7, 22, 70, 0.7);
	border-top: 1px solid #2f3acb;
}
.alert_log_table {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 15.14% 21.12% auto;
	grid-template-rows: 100%;
	border-left: 1px solid #2f3acb;
}
.table_head_title {
	font-size: 0.94vw;
	color: #d5eaf9;
}
.table_border {
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #2f3acb;
	border-bottom: 1px solid #2f3acb;
}
.table_content {
	font-size: 0.94vw;
	color: #88cdff;
}
.alert_rule {
	width: 99%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(auto-fill, 68px);
	grid-auto-rows: 68px;
	border-top: 1px solid #2f3acb;
	background: rgba(7, 22, 70, 0.7);
}
.alert_rule_table {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 16.69% 16.69% 19.36% 22.81% auto;
	grid-template-rows: 100%;
	border-left: 1px solid #2f3acb;
}
.alert_operate_icon {
	width: 26.53%;
	height: 69.12%;
	cursor: pointer;
	object-fit: cover;
}
/* 新建和修改规则弹窗 */
.alert_rule_box {
	z-index: 999;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: calc(50% - 132px);
	width: 418px;
	background: #071c4a;
	border: 1px solid #206cea;
	box-shadow: 0px 0px 16px 0px rgba(4, 15, 51, 0.8);
	border-radius: 10px;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 36px minmax(264px, auto);
}
.alert_rule_box_layout {
	width: 352px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 27px;
	flex-wrap: wrap;
}
.alert_title_text {
	font-size: 16px;
	color: #88cdff;
}
.input_alert_content {
	width: 254px !important;
	height: 40px;
}
.input_alert_content .el-input__inner {
	width: 100%;
	height: 100%;
	background: #071c4a;
	border: 1px solid #206cea;
	box-shadow: 0px 0px 16px 0px rgba(4, 15, 51, 0.8);
	border-radius: 10px;
	outline: none;
	font-size: 16px;
	color: #88cdff;
}
.alert_method_option {
	width: 254px;
	/* min-height: 40px; */
	background: #061546;
	border: 1px solid #1645b0;
	border-radius: 10px;
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.alert_method_option_box {
	position: relative;
	top: 6px;
	left: 98px;
	width: 254px;
	background: #061546;
	border: 1px solid #0e52d4;
	padding-left: 19px;
}
.alert_method_checked {
	width: 225px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(auto-fill, 40px);
	grid-auto-rows: 40px;
	align-items: center;
	justify-items: center;
}
/* 消息中心 */
.message_center_type_scroll {
	margin: 0 5px;
	background: rgba(9, 25, 86, 0.5);
	border: 1px solid #3173f3;
	box-shadow: 0px 0px 65px 0px rgba(4, 15, 51, 0.8);
	overflow-y: auto;
	padding: 1.85vh 0.62vw;
}
.message_center_type {
	background: rgba(9, 25, 86, 0.7);
	border: 2px solid;
	border-image: linear-gradient(180deg, #2b2b97, #1663d6) 2 2;
	width: 100%;
	height: 6.48vh;
	display: flex;
	position: relative;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
}
.message_center_type_focus {
	background: #0a2890;
	border: 2px solid;
	border-image: linear-gradient(180deg, #2b2b97, #1663d6) 2 2;
}
.message_type_text {
	width: 46%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #d5eaf9;
	font-size: 1.48vh;
}
.message_center_content_scroll {
	margin-left: 5px;
	padding: 1.85vh 1.3vw;
	background: rgba(9, 25, 86, 0.3);
	border: 1px solid #3173f3;
	box-shadow: 0px 0px 65px 0px rgba(4, 15, 51, 0.8);
	overflow-y: auto;
}
.message_content_box {
	background: rgba(9, 25, 86, 0.7);
	border: 2px solid;
	border-image: linear-gradient(180deg, #2b2b97, #1663d6) 2 2;
	width: 100%;
	height: 12.96vh;
	display: grid;
	grid-template-rows: 1fr 1.5fr;
	align-items: center;
	padding-left: 1.25vw;
	margin-bottom: 1.85vh;
}
.message_detail_layout {
	width: 50%;
	height: 43.15%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 999;
	background: rgba(7, 28, 74, 0.9);
	border: 1px solid #206cea;
	box-shadow: 0px 0px 16px 0px rgba(4, 15, 51, 0.8);
	border-radius: 10px;
	display: grid;
	grid-template-rows: 8.69% auto;
}
.message_detail_text {
	width: 80%;
	display: grid;
	grid-template-columns: 19% auto;
}
.message_detail_text_color {
	color: #88cdff;
	font-size: 18px;
}
/* 项目列表 */
.item_and_place_layout {
	width: 16%;
	min-width: 220px;
	height: 97%;
	display: grid;
	grid-template-rows: 90.62% auto;
	background: rgba(9, 25, 86, 0.5);
	border: 1px solid #3173f3;
	box-shadow: 0px 0px 65px 0px rgba(4, 15, 51, 0.8);
	margin-right: 5px;
}
.item_and_place_box {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: start;
	overflow-y: auto;
	border-bottom: 1px solid #3173f3;
}
.new_item_box {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item {
	width: 93%;
	height: 4.81vh;
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.right_place_with_no_border_header {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.download_center {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	align-items: center;
}
.nav_bar_text {
	font-size: 30px;
	color: white;
	border-bottom: 2px solid white;
	padding-bottom: 6px;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
}
.download_list_table {
	width: 50%;
	display: grid;
	border: 2px solid;
	border-image: linear-gradient(180deg, #2b2b97, #1663d6) 2 2;
	grid-template-rows: 4.63vh;
	grid-auto-rows: 5vh;
	background: rgba(9, 25, 86, 0.4);
	align-self: start;
}
.download_list_td {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	border-bottom: 1px solid #1f4bbb;
}
.download_list_td:last-child {
	border: none;
}
.download_list_td_text {
	font-size: 0.94vw;
	color: #d5eaf9;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #1f4bbb;
}
.download_list_td_text:last-child {
	border: none;
}
.download_list_td_font {
	color: rgba(124, 164, 200, 0.8);
}
.download_list_detail_layout {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 6.18% auto;
	padding-left: 10px;
}
.download_detail_box {
	width: 42.62%;
	height: 83.05%;
	display: grid;
	grid-template-rows: 8.08% auto;
	border: 2px solid;
	border-image: linear-gradient(180deg, #2b2b97, #1663d6) 2 2;
	background: rgba(9, 25, 86, 0.4);
}
.download_detail_name {
	font-size: 1.66vh;
	color: #d5eaf9;
	margin-bottom: 1vh;
}
.download_detail_text {
	font-size: 1.48vh;
	color: #d5eaf9;
	opacity: 0.5;
}
.download_detail_title {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #1f4bbb;
	font-size: 1.66vh;
	color: #d5eaf9;
	display: flex;
	align-items: center;
	padding-left: 6.35%;
}
.download_detail_content_box {
	width: 98%;
	height: 82.09%;
	overflow-y: auto;
	padding-left: 6%;
}
.download_detail_interval {
	margin-bottom: 6.54%;
}
.download_center_list_layout {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 6.18% auto 9.7%;
	padding-left: 10px;
}
.download_list_search {
	width: 14.48% !important;
	height: 58.62% !important;
	margin-left: 2.03%;
}
.download_list_search .el-input__inner {
	width: 100%;
	height: 100%;
	background: #071330;
	border: 1px solid #325ecb;
	border-radius: 4px;
	outline: 0;
	color: white;
}
.download_list_search .el-input__suffix {
	display: flex;
	align-items: center;
	justify-content: center;
}
.download_list_page_jump {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.item_text {
	font-size: 1.66vh;
	color: #47e8ea;
	z-index: 1;
	max-width: 72%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.place_text {
	font-size: 0.83vw;
	color: #d5eaf9;
	opacity: 0.5;
	z-index: 3;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
}
