<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./temp.css">
  <link rel="stylesheet" href="./vue_template.css">
</head>

<body>
  <div id="temp">
    <img src="./img/背景.png" class="bgimg">
    <!-- 音箱容器 -->
    <div class="sound_item_box">
      <!-- 功能选项 -->
      <div class="sound_item_option_box">
        <div class="sound_item_option" v-for="i,index in sound_item_options" @click="option_focus=index"
          :style="option_style(index)">
          <img :src="option_focus==index? i.light_icon : i.dark_icon" class="sound_item_option_icon">
          <span class="sound_item_option_text" :style="{opacity:option_focus==index?'1':'0.5'}">{{i.name}}</span>
        </div>
      </div>
      <!-- 功放界面 -->
      <div v-if="option_focus==0" class="amplify_box">
        <div class="text_param_box">
          <span style="color: #88CDFF;font-size: 18px;">电源电压</span>
          <div class="text_param">220V</div>
        </div>
      </div>
      <!-- DSP界面 -->
      <div v-if="option_focus==1" class="DSP_box">
        <!-- 输入 -->
        <div class="dsp_input_box">
          <div class="dsp_input_title">输入一</div>

          <div class="dsp_input_display">
            <div class="dsp_input_control">
              <level-component :level_max="'+12'" :level_min="'-48'" :display_value="-10"></level-component>
              <single-slider :channel="dsp_option.channel1" :in_title="'增益'" :out_title="'压限'" :in_or_out="0"
                :slider_max="'+12'" :slider_min="'-80'"></single-slider>
            </div>
          </div>
        </div>
        <!-- 输出 -->
        <div class="dsp_output_box">
          <!-- 输入 -->
          <div class="dsp_output" v-for="i,index in 2">
            <div class="dsp_output_top">
              <div class="dsp_output_text">输出{{index+1}}</div>
              <div class="dsp_output_top_control">
                <div class="dsp_output_top_control1">
                  <level-component :level_max="'+12'" :level_min="'-48'" :display_value="-10"></level-component>
                  <single-slider :channel="dsp_option.channel1" :in_title="'增益'" :out_title="'压限'" :in_or_out="0"
                    :slider_max="'+12'" :slider_min="'-80'"></single-slider>
                  <single-slider :channel="dsp_option.channel2" :in_title="'增益'" :out_title="'压限'" :in_or_out="1"
                    :slider_max="'+12'" :slider_min="'-80'"></single-slider>
                </div>
                <div class="dsp_output_top_control2">
                  <img class="dsp_output_button"
                    :src="dsp_option.output[index].dynamic?'./img/动态压限开关亮.png':'./img/动态压限开关暗.png'"
                    @click="dsp_option.output[index].dynamic=!dsp_option.output[index].dynamic">
                  <img class="dsp_output_button" :src="dsp_option.output[index].mute?'./img/静音亮.png':'./img/静音暗.png'"
                    @click="dsp_option.output[index].mute=!dsp_option.output[index].mute">
                </div>
              </div>
            </div>

            <div class="dsp_output_bottom">
              <single-slider v-for="i in 5" :channel="dsp_option.channel1" :in_title="dsp_option.channel1.hz+'HZ'"
                :out_title="'压限'" :in_or_out="0" :slider_max="'+20'" :slider_min="'-20'"></single-slider>
            </div>
          </div>
        </div>
      </div>
      <!-- 系统功能 -->
      <div v-if="option_focus==2" class="sys_box">
        <!-- 通道状态 -->
        <div class="channel_box">
          <div v-for="status,index in sys_option.status" class="channel">
            <div class="title">通道{{index+1}}</div>
            <div class="status">
              <span style="color: #88CDFF;font-size: 18px;">DSP</span>
              <div style="display: flex;align-items: center;">
                <img :src="status.dsp==0?'./img/状态正常.png':'./img/状态异常.png'"
                  style="width: 15px;height: 18px;margin-right: 6px;">
                <span
                  :style="{fontSize:'18px',color:status.dsp==0?'#00C377':'#B6165A'}">{{status.dsp==0?'正常':'异常'}}</span>
              </div>
            </div>
            <div class="status">
              <span style="color: #88CDFF;font-size: 18px;">功放</span>
              <div style="display: flex;align-items: center;">
                <img :src="status.amplify==0?'./img/状态正常.png':'./img/状态异常.png'"
                  style="width: 15px;height: 18px;margin-right: 6px;">
                <span
                  :style="{fontSize:'18px',color:status.amplify==0?'#00C377':'#B6165A'}">{{status.amplify==0?'正常':'异常'}}</span>
              </div>
            </div>
            <div class="status">
              <span style="color: #88CDFF;font-size: 18px;">扬声器</span>
              <div style="display: flex;align-items: center;">
                <img :src="status.sound==0?'./img/状态正常.png':'./img/状态异常.png'"
                  style="width: 15px;height: 18px;margin-right: 6px;">
                <span
                  :style="{fontSize:'18px',color:status.sound==0?'#00C377':'#B6165A'}">{{status.sound==0?'正常':'异常'}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 定时功能 -->
        <div class="set_time_box">
          <div style="width:91.69%">
            <div class="button">功能定时自检开关</div>
          </div>

          <div class="set_time" style="height: 10.59%;">
            <div class="select_all_box">
              <div class="dot_box" @click="sys_option.set_time.day=!sys_option.set_time.day">
                <div v-show="sys_option.set_time.day" class="dot"></div>
              </div>
              <span style="font-size: 18px;color: #88CDFF;">每天</span>
            </div>
            <div class="time_box" style="">
              <span style="font-size: 18px;color: #0ADCDE;">15:40</span>
              <img src="./img/clock.png" style="width: 14px;height: 16px;">
            </div>
          </div>

          <div class="set_time" style="height: 16.25%;">
            <div class="select_all_box">
              <div class="dot_box" @click="sys_option.set_time.week=!sys_option.set_time.week">
                <div v-show="sys_option.set_time.week" class="dot"></div>
              </div>
              <span style="font-size: 18px;color: #88CDFF;">每周</span>
            </div>
            <div class="day_box" v-for="week in sys_option.weeks">
              <span style="font-size: 18px;color: #6DA7D5;">{{week}}</span>
              <div class="time_box">
                <span style="font-size: 18px;color: #0ADCDE;">15:40</span>
                <img src="./img/clock.png" style="width: 14px;height: 16px;">
              </div>
            </div>
          </div>

          <div class="set_time" style="height: 47.04%;overflow-y: auto;overflow-x: hidden;">
            <div class="select_all_box">
              <div class="dot_box" @click="sys_option.set_time.month=!sys_option.set_time.month">
                <div v-show="sys_option.set_time.month" class="dot"></div>
              </div>
              <span style="font-size: 18px;color: #88CDFF;">每月</span>
            </div>
            <div class="month_layout">
              <div class="day_box" v-for="month,index in 31">
                <span style="font-size: 18px;color: #6DA7D5;">{{index+1}}</span>
                <div class="time_box">
                  <span style="font-size: 18px;color: #0ADCDE;">15:40</span>
                  <img src="./img/clock.png" style="width: 14px;height: 16px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./module/jquery-3.6.0.js"></script>
  <script src="./module/vue.js"></script>
  <script src="./module/element-ui.js"></script>
  <script src="./module/axios.min.js"></script>
  <script src="./vue_template.js"></script>
  <script src="./temp.js"></script>
</body>

</html>