* {
	user-select: none;
}
#index {
	width: 100%;
	height: 100%;
	position: absolute;
	display: grid;
	grid-template-rows: 70px 42px auto;
	min-width: 1000px;
	min-height: 800px;
	overflow: auto;
	background-image: url(./img/背景.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	.header {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 10;
	}
	.nav_bar {
		position: relative;
		background: linear-gradient(0deg, #040d19, #041f52);
		display: grid;
		grid-template-columns: 78px auto 100px;
		grid-template-areas: '. b c';
	}
	.channel_ctrl_box {
		width: 100%;
		display: grid;
		grid-auto-rows: 500px;
		align-items: center;
		justify-items: center;
		overflow-y: auto;
		overflow-x: hidden;
		.control_box {
			height: 450px;
			display: grid;
			grid-template-columns: 20px auto 20px;
			background: linear-gradient(0deg, rgba(4, 18, 39, 0.3), rgba(12, 40, 92, 0.3), rgba(9, 28, 62, 0.3), rgba(13, 47, 110, 0.3));
			border: 1px solid #020b27;
			box-shadow: 0px 39px 98px 0px rgba(16, 56, 129, 0.55);
			border-radius: 5px;
			.slider_box {
				display: grid;
				grid-auto-flow: column;
				grid-auto-columns: 68px;
				grid-template-rows: 90%;
				align-content: center;
				overflow: auto;
				position: relative;
				.single_slider {
					display: grid;
					grid-template-rows: 40px auto;
					background: linear-gradient(0deg, rgba(24, 56, 116, 0.8), rgba(12, 41, 95, 0.8));
					border: 1px solid transparent;
					.slider_name {
						border: 1px solid #030b2f;
						font-size: 14px;
						color: #25aeee;
					}
					.slider_body {
						border: 1px solid #030b2f;
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						align-items: center;
						.slider_num {
							width: 60px;
							height: 20px;
							background: #061546;
							border: 1px solid #1645b0;
							padding-right: 6px;
							// .input_box {
							// 	width: 30px;
							// 	outline: none;
							// 	background: none;
							// 	border: none;
							// 	// 输入框不受布局样式影响，只受内部自身属性影响
							// 	text-align: right;
							// 	font-size: 12px;
							// 	color: #abcbff;
							// }
						}
						.slider {
							width: 64px;
							height: 240px;
							display: grid;
							grid-template-rows: 30px auto 30px;
							justify-items: center;
							align-items: center;
							.slider_bar {
								width: 8px;
								height: 100%;
								background: linear-gradient(90deg, #051125, #0d2e6a);
								border: 1px solid #030b26;
								border-radius: 4px;
								position: absolute;
								left: 0;
								right: 0;
								margin: 0 auto;
							}
							.slider_cover {
								width: 8px;
								background: linear-gradient(90deg, #158766, #1ebab8);
								border-radius: 4px;
								position: absolute;
								bottom: 0;
								left: 0;
								right: 0;
								margin: 0 auto;
							}
							.slider_thumb {
								width: 26px;
								height: 36px;
								position: absolute;
								left: 0;
								right: 0;
								margin: 0 auto;
								cursor: grab;
								&:active {
									cursor: grabbing;
								}
							}
						}
					}
				}
				.channel_selected {
					border: 1px solid cyan;
					box-shadow: 0 0 10px cyan inset;
				}
				.channel_selected_start {
					border: 1px solid cyan;
					border-right: none;
					box-shadow: 4px 0 10px cyan inset;
				}
				.channel_selected_middle {
					border-top: 1px solid cyan;
					border-bottom: 1px solid cyan;
					box-shadow: 0 0 10px cyan inset;
				}
				.channel_selected_end {
					border: 1px solid cyan;
					border-left: none;
					box-shadow: -4px 0 10px cyan inset;
				}
			}
		}
	}
	.rect_box {
		display: grid;
		grid-template-rows: 76px auto;
		overflow-x: auto;
		overflow-y: hidden;
		.rect_header {
			display: grid;
			grid-template-columns: 76px;
			grid-auto-columns: 70px;
			grid-auto-flow: column;
			padding-right: 20px;
		}
		.rect_body {
			display: grid;
			grid-template-columns: 76px auto;
			overflow-y: auto;
			overflow-x: hidden;
			padding-right: 20px;
			.output_box {
				display: grid;
				grid-auto-rows: 70px;
			}
			.rect_interact_box {
				display: grid;
				grid-template-rows: repeat(16, 70px);
				.rect_interact_row {
					display: grid;
					grid-template-columns: repeat(16, 70px);
					align-items: center;
					justify-items: center;
				}
			}
		}
	}
	.scene_box {
		width: 640px;
		height: 640px;
		background: rgba(4, 22, 36, 0.8);
		border: 1px solid #1257c9;
		box-shadow: 0px -2px 16px 0px rgba(5, 15, 34, 0.66), 0px 2px 8px 0px #3270e1;
		.scroll {
			width: 90%;
			height: 90%;
			display: grid;
			grid-auto-flow: column;
			//列不能省 因为子元素未设宽高
			// 需要用300的标准占位
			grid-template-columns: repeat(auto-fill, 300px);
			grid-template-rows: repeat(auto-fill, 50px);
			grid-gap: 16px 20px; //第一个参数是行间隔 第二个参数是列间隔
			.single_setting_box {
				display: flex;
				align-items: center;
				position: relative;
				z-index: 10;
				background: url(./img/场景列表暗.png);
				background-size: 100% 100%;
				background-repeat: no-repeat;
				&:active {
					background: url(./img/场景列表亮.png);
					background-size: 100% 100%;
					background-repeat: no-repeat;
				}
				.setting_icon {
					width: 20px;
					height: 20px;
					position: absolute;
					cursor: pointer;
				}
				.input_bg {
					background: rgba(8, 29, 64);
					box-shadow: 0 0 2px 2px #3270e0 inset;
					font-size: 16px;
					color: rgb(254, 254, 254);
					// 输入框不受布局样式影响，只受内部自身属性影响
					text-align: start;
					outline: none;
					background: none;
					border: none;
					z-index: 10;
					width: 150px;
					height: 20px;
				}
			}
		}
	}
}
