<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>高清矩阵</title>
  <link rel="icon" href="./img/logo.ico">
  <link rel="stylesheet" href="../module/element-ui.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="index" v-cloak>
    <!-- 头部 -->
    <div class="header">
      <img src="./img/返回按钮.png" class="button" style="margin: 0 12px 0 24px;width: 45px;height: 45px;">
      <img src="./img/logo.png" style="width: 200px;height: 26px;margin: 0 15px;">
      <div style="width: 2px;height: 22px;margin: 0 15px;background: #035AB0;"></div>
      <!-- <span style="font-size: 30px;color: #F5F5F5;margin: 0 35px;">DSP</span> -->
      <span style="font-size: 14px;color: #F5F5F5;padding-top: 10px;">视频信号</span>
      <div style="margin-left: auto;margin-right: 30px;">
        <img src="./img/设置按钮.png" class="button" style="width: 45px;height: 45px;">
        <img src="./img/最小化按钮.png" class="button" style="width: 45px;height: 45px;">
        <img src="./img/最大化按钮.png" class="button" style="width: 45px;height: 45px;">
        <img src="./img/关闭按钮.png" class="button" style="width: 45px;height: 45px;">
      </div>
      <!-- 头部背景 -->
      <img src="./img/抬头背景.png" class="bg_img">
    </div>
    <!-- 头部下 -->
    <div class="header_bottom"></div>
    <!-- 身体 -->
    <div class="center">
      <div class="box_style flex_shrink two_row_layout" style="width: 678px;height: 390px;">
        <span class="title">视频信号</span>
        <div class="border_top center">
          <!-- 视频源 -->
          <h3 style="color: white;width: 95%;opacity: 0.9;">输入信号</h3>
          <div class="button center" style="width: 140px;height: 60px;" v-for="video,index in static_param.video_source"
            @click="video_select(index,'in')">
            <img :src="static_param.video_source_checked == index?'./img/button2light.png':'./img/button2.png'"
              class="bg_img">
            <span :style="video_style(index)">{{video}}</span>
          </div>
          <!-- 输出 -->
          <h3 style="color: white;width: 95%;opacity: 0.9;">输出信号</h3>
          <div class="button center" style="width: 140px;height: 60px;" v-for="video,index in static_param.video_out"
            @click="video_select(index,'out')">
            <img :src="static_param.video_out_checked == index?'./img/button2light.png':'./img/button2.png'"
              class="bg_img">
            <span :style="video_style2(index)">{{video}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../module/jquery-3.6.0.js"></script>
  <script src="../module/vue.js"></script>
  <script src="../module/element-ui.js"></script>
  <script src="../module/axios.min.js"></script>
  <script src="./index.js"></script>
</body>

</html>