/* 全局设置 */
*{
    box-sizing: border-box;
}
/* 去白边 */
body{
    margin: 0;
}
/* 主体 */
#login{
    width: 100vw;
    height: 100vh;
}
/* 背景图 */
.backgroundImage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
/* 图标 */
.logo{
    position: fixed;
    top: 5.2vh;
    left: 4.4vw;
    width: 7.8vw;
    height: 2.7vh;
    z-index: 1;
}
/* 背景墙 */
.backdrop{
    background: #fff;
    width: 28.6vw;
    height: 57.6vh;
    position: absolute;
    top: 19.4vh;
    right: 10.5vw;
    opacity: 0.3;
    border: 2px solid #1D6FC3;
    /* border: 10px solid rgba(29, 111, 195, 0.3); */
}
/* 用户输入部分 */
.main{
    position: absolute;
    /* top: 0.8vh; */
    top: 20.4vh;
    /* left: 0.3vw; */
    right: 11vw;
    width: 27.6vw;
    height: 55.5vh;
    background-color: #fff;
}
/* 用户登录标题 */
.main .title{
    position: absolute;
    color: #1C61EC;
    font-size: 2.2vh;
    font-family: Microsoft YaHei;
    font-weight: 400;
    top: 6vh;
    left: 3.5vw;
}
/* 用户输入框 */
.main .userInput{
    width: 20.7vw;
}
/* 占位符样式 */
.main .userInput::-webkit-input-placeholder{    
    font-weight: 400;
    font-size: 1.7vh;
    font-family: Microsoft YaHei;
    position: relative;
    left: 1.4vw;
    line-height: 5.7vh;
}
/* 复选框样式 */
.main .checkBox{
    position: absolute;
    left: 4.8vw;
    top: 31.9vh;
}
/* 登录按钮 */
.main .loginBotton{
    position: absolute;
    left: 3.4vw;
    bottom: 8.1vh;
    font-size: 2.2vh;
    width: 20.7vw;
    height: 5.7vh;
}