<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>湖山物联网云平台</title>
  <link rel="icon" href="../img/logo.ico">
  <link rel="stylesheet" href="login.css">
  <link rel="stylesheet" href="../module/index.css">
</head>

<body>
  <div id="login">
    <img src="../img/LOGO@2x (1).png" class="logo">
    <img src="../img/loginBackground@2x.png" class="backgroundImage">
    <div class="backdrop"></div>
    <div class="main">
      <span class="title">用户登录</span>
      <el-input class="userInput" v-model="userName" placeholder="用户名"
        style="left: 3.4vw;top: 14.3vh;position: absolute;" clearable></el-input>
      <el-input class="userInput" v-model="passWord" placeholder="密码"
        style="left: 3.4vw;top: 22.8vh;position: absolute;" clearable show-password></el-input>
      <el-checkbox class="checkBox" v-model="rememberPassword">记住密码</el-checkbox>
      <el-button class="loginBotton" type="primary" @click="login">登录</el-button>
    </div>
  </div>
  <script src="../main.js"></script>
  <script src="../module/jquery-3.6.0.js"></script>
  <script src="../module/vue.js"></script>
  <script src="../module/element-ui.js"></script>
  <script src="../module/axios.min.js"></script>
  <script src="login.js"></script>
</body>

</html>