<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DS418</title>
  <link rel="icon" href="./img/logo.ico">
  <link rel="stylesheet" href="../module/element-ui.css">
  <link rel="stylesheet" href="../common_style.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="index" v-cloak>
    <!-- 头部 -->
    <div class="header">
      <img src="./img/返回按钮.png" class="button" style="margin: 0 12px 0 24px;width: 45px;height: 45px;">
      <img src="./img/logo.png" style="width: 200px;height: 26px;margin: 0 15px;">
      <!-- <div style="width: 2px;height: 22px;margin: 0 15px;background: #035AB0;"></div> -->
      <!-- <span style="font-size: 30px;color: #F5F5F5;margin: 0 35px;">DSP</span> -->
      <!-- <span style="font-size: 14px;color: #F5F5F5;padding-top: 10px;">视频信号</span> -->
      <div style="margin-left: auto;margin-right: 30px;">
        <img src="./img/设置按钮.png" class="button" style="width: 45px;height: 45px;">
        <img src="./img/最小化按钮.png" class="button" style="width: 45px;height: 45px;">
        <img src="./img/最大化按钮.png" class="button" style="width: 45px;height: 45px;">
        <img src="./img/关闭按钮.png" class="button" style="width: 45px;height: 45px;">
      </div>
      <!-- 头部背景 -->
      <img src="./img/抬头背景.png" class="bg_img">
    </div>
    <!-- 头部下 -->
    <div class="nav_bar">
      <!-- 选项卡 -->
      <div style="grid-area: b;display: flex;">
        <div class="button flex_shrink center" style="width:110px;font-size: 16px;color: #fff;"
          v-for="option,index in static_param.options" @click="module_select(index)">{{option}}</div>
        <img :src="static_param.option_selected==index?'./img/选项切换亮.png':'./img/选项切换暗.png'" class="bg_img">
      </div>
      <!-- 设备状态 -->
      <div style="grid-area:c;justify-self: end;margin-right: 20px;display: flex;align-items: center;">
        <img style="width: 15px;height: 12px;margin-right: 8px;"
          :src="channel_ctrl.is_online==0?'./img/警告标识.png':'./img/设备在线图标.png'">
        <span style="font-size: 12px;color: rgb(171, 203, 255);">{{channel_ctrl.is_online==0?'设备离线':'设备在线'}}</span>
      </div>
    </div>
    <!-- 身体 -->
    <div style="overflow: hidden;position: relative;">
      <!-- 通道控制 -->
      <div class="channel_box" v-show="static_param.option_selected==0" @mousewheel.prevent="scroll_x($event)">
        <div class="center" style="position:relative;z-index: 10;margin: 16px 10px;padding: 0 10px;"
          v-for="channel,index in channel_ctrl.list">
          <img src="./img/场景列表暗.png" class="bg_img">
          <span style="font-size: 16px;color: #fff;">通道{{channel.channel_no}}</span>
          <img src="./img/圆加.png" class="button" style="width: 48px;height: 48px;" @click="volume_ctrl(channel,1)">
          <img src="./img/圆减.png" class="button" style="width: 48px;height: 48px;" @click="volume_ctrl(channel,2)">
          <div class="center button" style="width: 100px;height: 48px;" @click="volume_ctrl(channel,'mute')">
            <img :src="channel.mute==0?'./img/button2.png':'./img/button2red.png'" class="bg_img">
            <span style="font-size: 16px;color: #fff;">静音</span>
          </div>
        </div>
      </div>
      <!-- program控制 -->
      <div class="program_box" v-show="static_param.option_selected==1">
        <div class="center button" style="width: 58px;height: 58px;" v-for="type in 15" @click="program_ctrl(type)">
          <img src="./img/circlebutton.png" class="bg_img">
          <span style="font-size: 16px;color: #fff;">{{type}}</span>
        </div>
      </div>
    </div>
  </div>

  <script src="../module/jquery-3.6.0.js"></script>
  <script src="../module/vue.js"></script>
  <script src="../module/element-ui.js"></script>
  <script src="../module/axios.min.js"></script>
  <script src="../common_function.js"></script>
  <script src="./index.js"></script>
</body>

</html>