<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ps14b</title>
  <link rel="icon" href="./img/logo.ico">
  <link rel="stylesheet" href="../module/element-ui.css">
  <link rel="stylesheet" href="../common_style.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="index" v-cloak>
    <!-- 头部 -->
    <div class="header">
      <img src="./img/返回按钮.png" class="button" style="margin: 0 12px 0 24px;width: 45px;height: 45px;"
        @click="return_home">
      <img src="./img/logo.png" style="width: 200px;height: 26px;margin: 0 15px;">
      <div style="width: 2px;height: 22px;margin: 0 15px;background: #035AB0;"></div>
      <span style="font-size: 30px;color: #F5F5F5;margin: 0 35px;">ps14b</span>
      <span style="font-size: 14px;color: #F5F5F5;padding-top: 10px;">ps14b</span>
      <!-- 头部背景 -->
      <img src="./img/抬头背景.png" class="bg_img">
    </div>
    <!-- 头部下 -->
    <div class="nav_bar">
      <!-- 选项卡 -->
      <div style="grid-area: b;display: flex;">
        <div class="button flex_shrink center" style="width:110px;font-size: 16px;color: #fff;"
          v-for="option,index in static_param.options" @click="module_select(index)">
          {{option}}
          <img :src="static_param.option_selected==index?'./img/选项切换亮.png':'./img/选项切换暗.png'" class="bg_img">
        </div>
      </div>
      <!-- 设备状态 -->
      <div style="grid-area:c;justify-self: end;margin-right: 20px;display: flex;align-items: center;">
        <img style="width: 15px;height: 12px;margin-right: 8px;"
          :src="channel_ctrl.is_online==0?'./img/警告标识.png':'./img/设备在线图标.png'">
        <span style="font-size: 12px;color: rgb(171, 203, 255);">{{channel_ctrl.is_online==0?'设备离线':'设备在线'}}</span>
      </div>
    </div>
    <!-- 身体 -->
    <div style="display: flex;justify-content: center;overflow: hidden;">
      <!-- 通道开关 -->
      <div class="channel_ctrl_box" v-show="static_param.option_selected==0">
        <!-- 开关 -->
        <div class="scroll" @mousewheel.prevent="scroll_x($event)">
          <div class="timing_switch">
            <div v-for="channel in channel_ctrl.channel_list" class="single_switch">
              <!-- 开关 -->
              <div class="switch_layout" @mousedown="channel_switch_status(channel)">
                <img src="./img/开关背景.png" class="bg_img">
                <span style="font-size: 12px;color: #FFFFFF;">on</span>
                <div style="position: relative;width: 24px;height: 74px;z-index: 10;">
                  <img src="./img/开关条背景暗.png" class="bg_img">
                  <div class="status_cover"
                    :style="{animationName:channel.channel_status==1? 'cover_unfold':'cover_fold'}">
                  </div>
                  <div class="status_button"
                    :style="{animationName:channel.channel_status==1?'button_up':'button_down'}">
                  </div>
                </div>
                <span style="font-size: 12px;color: #FFFFFF;">off</span>
              </div>
              <!-- 通道序号 -->
              <span style="font-size: 16px;color: #02EEFF;">通道{{channel.channel_no}}</span>
            </div>
          </div>
        </div>
        <!-- 总开关 -->
        <div style="display: flex;">
          <div class="scene_button" style="width: 176px;" @mousedown="channel_ctrl_all($event,-1)" draggable="false">
            <img src="./img/大按钮2.png" class="bg_img">
            <span style="font-size: 22px;color: #AEC9FF;">通道全开</span>
          </div>
          <div class="scene_button" style="width: 176px;" @mousedown="channel_ctrl_all($event,0)" draggable="false">
            <img src="./img/大按钮2.png" class="bg_img">
            <span style="font-size: 22px;color: #AEC9FF;">通道全关</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../module/jquery-3.6.0.js"></script>
  <script src="../module/vue.js"></script>
  <script src="../module/element-ui.js"></script>
  <script src="../module/axios.min.js"></script>
  <script src="../common_function.js"></script>
  <script src="./index.js"></script>
</body>

</html>