<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>时序器</title>
  <link rel="stylesheet" href="./module/index.css">
  <link rel="stylesheet" href="./timing.css">
</head>

<body>
  <div id="index" v-cloak>
    <!-- 背景 -->
    <img src="./img/背景.png" class="bg_img">
    <!-- 头部 -->
    <div class="header">
      <img src="./img/返回按钮.png" class="button" style="margin: 0 12px 0 24px;">
      <img src="./img/logo.png" style="width: 200px;height: 26px;margin: 0 15px;">
      <div style="width: 2px;height: 22px;margin: 0 15px;background: #035AB0;"></div>
      <span style="font-size: 30px;color: #F5F5F5;margin: 0 35px;">DSP</span>
      <span style="font-size: 14px;color: #F5F5F5;padding-top: 10px;">数字音频处理器 - V1.0.0</span>
      <div style="margin-left: auto;margin-right: 30px;">
        <img src="./img/设置按钮.png" class="button">
        <img src="./img/最小化按钮.png" class="button">
        <img src="./img/最大化按钮.png" class="button">
        <img src="./img/关闭按钮.png" class="button">
      </div>
      <!-- 头部背景 -->
      <img src="./img/抬头背景.png" class="bg_img">
    </div>
    <!-- 头部下 -->
    <div class="header_bottom"></div>
    <!-- 身体 -->
    <div class="body">
      <!-- 显示具体 -->
      <div style="display: flex;flex-direction: column;justify-content: space-around;align-items: center;">
        <!-- 电源状态 -->
        <div class="power_status" v-show="static_par.main_option_select==0">
          <!-- 标题 -->
          <div class="title align_center">
            <img src="./img/装饰图.png" class="bg_img">
            <span style="font-size: 18px;color: #FFFFFF;white-space: nowrap;">网络电源时序器 EPM12</span>
          </div>
          <!-- 显示状态 -->
          <div class="status_box" @mousewheel="scroll_x($event)">
            <!-- 抬头 -->
            <div class="channel_box" :style="{gridTemplateColumns:`140px repeat(8,98px)`}">
              <div></div>
              <div class="channel align_center" v-for="i in 8">
                <img src="./img/数据抬头背景.png" class="bg_img">
                <span style="font-size: 16px;color: #AEC9FF;">CH{{i}}</span>
              </div>
            </div>
            <!-- 具体细节 -->
            <div class="scroll">
              <!-- 开始延迟 -->
              <div class="delay" :style="{gridTemplateColumns:`140px repeat(8,98px)`}">
                <span style="font-size: 16px;color: #AEC9FF;">开始延迟(S)</span>
                <div v-for="i in 8" style="width: 72px;height: 32px;position: relative;z-index: 10;">
                  <img src="./img/显示数字背景框.png" class="bg_img">
                  <input v-model.number="temp.num" class="input_box" style="font-size: 16px;color: #FEFEFE;"
                    @blur="verify_input(temp.num)">
                </div>
              </div>
              <!-- 结束延迟 -->
              <div class="delay" :style="{gridTemplateColumns:`140px repeat(8,98px)`}">
                <span style="font-size: 16px;color: #AEC9FF;">结束延迟(S)</span>
                <div v-for="i in 8" style="width: 72px;height: 32px;position: relative;z-index: 10;">
                  <img src="./img/显示数字背景框.png" class="bg_img">
                  <input v-model.number="temp.num" class="input_box" style="font-size: 16px;color: #FEFEFE;"
                    @blur="verify_input(temp.num)">
                </div>
              </div>
            </div>
          </div>
          <!-- 电压显示 -->
          <div class="foot align_center">
            <img src="./img/电源开关.png" class="bg_img">
            <span style="font-size: 22px;color: #AEC9FF;">~220V</span>
          </div>
        </div>
        <!-- 时序器开关 -->
        <div class="timing_control" v-show="static_par.main_option_select==0">
          <!-- 标题 -->
          <div class="title align_center">
            <img src="./img/装饰图.png" class="bg_img">
            <span style="font-size: 18px;color: #FFFFFF;white-space: nowrap;">网络电源时序器 EPM12</span>
          </div>
          <!-- 开关 -->
          <div class="scroll" @mousewheel="scroll_x($event)">
            <div class="timing_switch">
              <div v-for="i in 8" class="single_switch">
                <!-- 开关 -->
                <div class="switch_layout">
                  <img src="./img/开关背景.png" class="bg_img">
                  <span style="font-size: 12px;color: #FFFFFF;">on</span>
                  <div style="position: relative;width: 24px;height: 74px;z-index: 10;">
                    <img v-show="!temp.switch_status" src="./img/开关条背景暗.png" class="bg_img">
                    <img v-show="!temp.switch_status" src="./img/按钮暗.png" class="switch_status" style="bottom: 0;">

                    <img v-show="temp.switch_status" src="./img/开关条背景亮.png" class="bg_img">
                    <img v-show="temp.switch_status" src="./img/按钮亮.png" class="switch_status" style="top: 0;">
                  </div>
                  <span style="font-size: 12px;color: #FFFFFF;">off</span>
                </div>
                <!-- 延迟 -->
                <span style="font-size: 16px;color: #02EEFF;">{{i}}S</span>
              </div>
            </div>
          </div>
          <!-- 场景保存和加载 -->
          <div style="display: flex;">
            <!-- <div class="scene_button" style="width: 176px;">
              <img src="./img/大按钮.png" class="bg_img">
              <span style="font-size: 22px;color: #AEC9FF;">场景保存</span>
            </div>
            <div class="scene_button" style="width: 176px;">
              <img src="./img/大按钮.png" class="bg_img">
              <span style="font-size: 22px;color: #AEC9FF;">场景加载</span>
            </div> -->
            <div class="scene_button" style="width: 232px;"
              @mousedown="static_par.timing_on_off=!static_par.timing_on_off">
              <img src="./img/大按钮.png" class="bg_img">
              <span style="font-size: 22px;color: #AEC9FF;margin-right: 20px;">时序开关</span>
              <span
                :style="{color:static_par.timing_on_off?'#7FFF00':'#D21B42',fontSize:'22px'}">{{temp.timing_main_switch?'ON':'OFF'}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 导航栏 -->
      <div style="display: flex;flex-direction: column;align-items: center;padding-top: 60px;">
        <div class="main_option align_center" v-for="option,index in static_par.main_option"
          @mousedown="switch_main_option(index)">
          <img :src="static_par.main_option_select==index?'./img/选项卡背景亮.png':'./img/选项卡背景暗.png'" class="bg_img">
          <span style="font-size: 18px;color: #02EEFF;">{{option}}</span>
        </div>
      </div>
    </div>
  </div>

  <script src="./module/jquery-3.6.0.js"></script>
  <script src="./module/vue.js"></script>
  <script src="./module/element-ui.js"></script>
  <script src="./module/axios.min.js"></script>
  <script src="./timing.js"></script>
</body>

</html>