<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>广播</title>
  <link rel="icon" href="./img/logo.ico">
  <link rel="stylesheet" href="../module/element-ui.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="index" v-cloak>
    <!-- 头部 -->
    <div class="header">
      <img src="./img/返回按钮.png" class="button" style="margin: 0 12px 0 24px;width: 45px;height: 45px;">
      <img src="./img/logo.png" style="width: 200px;height: 26px;margin: 0 15px;">
      <!-- <div style="width: 2px;height: 22px;margin: 0 15px;background: #035AB0;"></div> -->
      <!-- <span style="font-size: 30px;color: #F5F5F5;margin: 0 35px;">DSP</span> -->
      <!-- <span style="font-size: 14px;color: #F5F5F5;padding-top: 10px;">视频信号</span> -->
      <div style="margin-left: auto;margin-right: 30px;">
        <img src="./img/设置按钮.png" class="button" style="width: 45px;height: 45px;">
        <img src="./img/最小化按钮.png" class="button" style="width: 45px;height: 45px;">
        <img src="./img/最大化按钮.png" class="button" style="width: 45px;height: 45px;">
        <img src="./img/关闭按钮.png" class="button" style="width: 45px;height: 45px;">
      </div>
      <!-- 头部背景 -->
      <img src="./img/抬头背景.png" class="bg_img">
    </div>
    <!-- 头部下 -->
    <div class="nav_bar">
      <!-- 选项卡 -->
      <div style="grid-area: b;display: flex;">
        <div class="button flex_shrink center" style="width:110px;font-size: 16px;color: #fff;"
          v-for="option,index in static_param.options" @click="module_select(index)">
          {{option}}
          <img :src="static_param.option_selected==index?'./img/选项切换亮.png':'./img/选项切换暗.png'" class="bg_img">
        </div>
      </div>
      <!-- 设备状态 -->
      <div style="grid-area:c;justify-self: end;margin-right: 20px;display: flex;align-items: center;">
        <img style="width: 15px;height: 12px;margin-right: 8px;"
          :src="static_param.is_online==0?'./img/警告标识.png':'./img/设备在线图标.png'">
        <span style="font-size: 12px;color: rgb(171, 203, 255);">{{static_param.is_online==0?'设备离线':'设备在线'}}</span>
      </div>
    </div>
    <!-- 身体 -->
    <div class="center">
      <!-- 采集器 -->
      <div class="box_style flex_shrink two_row_layout" style="width: 700px;height: 430px;">
        <span class="title">采集器</span>
        <div class="border_top column_center">
          <!-- 终端名称 -->
          <div class="row_style" style="width: 540px;height: 50px;align-items: center;margin: 20px 0;">
            <span class="row_style_text">终端名称</span>
            <el-input size="small" clearable v-model="collector.name"></el-input>
          </div>
          <!-- 状态和地址 -->
          <div class="center" style="width: 540px;height: 50px;margin: 20px 0;">
            <div class="row_style" style="width: 50%;">
              <span class="row_style_text">连接状态</span>
              <span :style="{fontSize: '16px',color:collector.status==0?'red':'green'}">未连接</span>
            </div>
            <div class="row_style" style="width: 50%;">
              <span class="row_style_text">地址</span>
              <span style="font-size: 16px;color: aliceblue;">{{collector.ip===null?'无':collector.ip}}</span>
            </div>
          </div>
          <!-- 采播状态 -->
          <div class="row_style" style="width: 540px;height: 90px;margin: 20px 0;">
            <span class="row_style_text">通道状态</span>
            <div class="status_grid">
              <div class="checker center" :style="{background:status==0?'#D8BFD8':'green'}"
                v-for="status,index in collector.channelStatus">{{status_num(index+1)}}
              </div>
            </div>
          </div>
          <!-- 按钮 -->
          <div class="center">
            <div class="center button" style="width: 90px;height: 46px;" @click="save_set('collector')">
              <img src="./img/button2.png" class="bg_img">
              <span style="font-size:20px;color: aliceblue;">保存</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 报警器 -->
      <div class="box_style flex_shrink two_row_layout" style="width: 700px;height: 430px;">
        <span class="title">报警器</span>
        <div class="border_top column_center">
          <!-- 终端名称 -->
          <div class="row_style" style="width: 540px;height: 50px;align-items: center;margin: 20px 0;">
            <span class="row_style_text">终端名称</span>
            <el-input size="small" clearable v-model="alarm.name"></el-input>
          </div>
          <!-- 状态和地址 -->
          <div class="center" style="width: 540px;height: 50px;align-items: center;margin: 20px 0;">
            <div class="row_style" style="width: 50%;">
              <span class="row_style_text">连接状态</span>
              <span :style="{fontSize: '16px',color:alarm.status==0?'red':'green'}">未连接</span>
            </div>
            <div class="row_style" style="width: 50%;">
              <span class="row_style_text">地址</span>
              <span style="font-size: 16px;color: aliceblue;">{{alarm.ip===null?'无':alarm.ip}}</span>
            </div>
          </div>
          <!-- 采播状态 -->
          <div class="row_style" style="width: 540px;height: 90px;margin: 20px 0;">
            <span class="row_style_text">通道状态</span>
            <div class="status_grid">
              <div class="checker center" :style="{background:status==0?'#D8BFD8':'green'}"
                v-for="status,index in alarm.channelStatus">{{status_num(index+1)}}
              </div>
            </div>
          </div>
          <!-- 按钮 -->
          <div class="center">
            <div class="center button" style="width: 90px;height: 46px;" @click="save_set('alarm')">
              <img src="./img/button2.png" class="bg_img">
              <span style="font-size:20px;color: aliceblue;">保存</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="../module/jquery-3.6.0.js"></script>
  <script src="../module/vue.js"></script>
  <script src="../module/element-ui.js"></script>
  <script src="../module/axios.min.js"></script>
  <script src="./index.js"></script>
</body>

</html>